---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - dcontroller.io
  resources:
  - operators
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dcontroller.io
  resources:
  - operators/finalizers
  - operators/status
  verbs:
  - patch
  - update
