apiVersion: dcontroller.io/v1alpha1
kind: Operator
metadata:
  name: configmap-deployment-operator
spec:
  controllers:
    - name: configmap-deployment-controller
      sources: 
        - apiGroup: ""
          kind: ConfigMap
        - apiGroup: "apps"
          kind: Deployment
        - apiGroup: "dcontroller.io"
          kind: ConfigDeployment
      pipeline:
        "@join":
          "@and":
            - '@eq':
                - $.ConfigMap.metadata.name
                - $.ConfigDeployment.spec.configMap
            - '@eq':
                - $.Deployment.metadata.name
                - $.ConfigDeployment.spec.deployment
            - '@eq':
                - $.ConfigMap.metadata.namespace
                - $.Deployment.metadata.namespace
            - '@eq':
                - $.ConfigMap.metadata.namespace
                - $.ConfigDeployment.metadata.namespace
        "@aggregate":
          - "@project":
              metadata:
                name: "$.Deployment.metadata.name"
                namespace: "$.Deployment.metadata.namespace"
              spec:
                template:
                  metadata:
                    annotations:
                      "dcontroller.io/configmap-version": "$.ConfigMap.metadata.resourceVersion"
      target:
        apiGroup: "apps"
        kind: Deployment
        type: Patcher
